<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>



   <body style="background-color:#f1f1f1;font-family: Open Sans, sans-serif;font-size:100%;font-weight:400;line-height:1.4;color:#000;">
      <div style="max-width: 600px;  margin: 30px auto 0;  padding: 0px; font-size: 14px;background: #fff; color: #555;">
         <table style="width: 100%; line-height: inherit;text-align: left; border-spacing: 0px; margin-bottom: 5px;">
            <thead>
               <tr>
                  <td style="width:50%;padding:15px 15px;" >
                     <img style="max-width: 100px;" src="https://vehicle99.com:3006/uploads/money-logo.png" alt="">
                  </td>
                  <td style="width:50%;padding:15px 15px; text-align:right;">
                  </td>
               </tr>
            </thead>
            <tbody>
               <tr>
                  <td style="height:5px;"></td>
               </tr>
               <tr>
                  <td style="display:block;font-weight:500;font-size:12px;padding:15px 15px; padding-bottom:0px;">
                     <p style="margin:0px;color:#000;">Hello {{name}}, Welcome to 316 Money.</p>
                  </td>
               </tr>
               <tr>
                  <td colspan="2" style="width:100%; font-weight: 600; padding:15px 15px; padding-top:10px; padding-bottom:0px;color:#000;">
                     Your gateway to seamless payments, smart savings, and global transactions! We're thrilled to have you on board.
					 <br><br>
					 To ensure the security of your account and get the most out of 316 Money's features, we kindly ask you to verify your email address by clicking the verify email link below.
                  </td>
               </tr>
            </tbody>
         </table>
         <table style="width: 100%; line-height: inherit;text-align: left; border-spacing: 0px; margin-top: 35px;">
            <tbody>
               <tr>
                  <td colspan="2" style="width:100%;">
                     <p style="font-size:13px;margin:0px;">
                        <img src="https://vehicle99.com:3006/uploads/verification-link.png" alt="" style="width: 85%;"/>
                     </p>
                  </td>
               </tr>
               <tr>
                  <td>
                     <p style="font-weight: 600; margin-top: 20px; margin-bottom:0px; padding:15px 15px;color:#000;">Your verification link</p>
                  </td>
               </tr>
			   
              <tr>
                  <td colspan="2" style="padding:15px 15px; padding-bottom:0px; padding-top:0px;">
                     <a href="{{link}}" style="background: #5AAC4E; text-align: center; display: block; padding: 14px; text-decoration: none; color: #fff; border-radius: 100px; margin: 10px 0px; width: 260px;">Verify E-mail</a>
                  </td>
               </tr>
			  
               <tr>
			       <td>
                     <p style="font-weight: 600; margin-top: 0px; margin-bottom:0px; padding:15px 15px;color:#000;">This link is valid for the next 24 hours only and can be used to verify your account or transaction.</p>
                  </td>
               </tr>
			   
	
               <tr>
                  <td colspan="2" style="padding:15px 15px; padding-bottom:30px; padding-top:15px;">
                     <p style="color:#000;font-size:13px; margin-bottom: 0px; font-weight:600;line-height: normal;">Thanks, <Br> The 316 Money Team.</p>
                  </td>
               </tr>
			   

			   
               
               <tr style="color: #fff;font-size: 10px; line-height: 15px; background: #5AAC4E; text-align: center; padding: 30px 30px; display: block;">
                  <td colspan="2" style="font-size: 14px;  padding: 20px 0px 0 0px; border-top: 1px solid #ffffff36; border-bottom: 1px solid #ffffff36; padding-bottom: 20px; display: block;">
                     <a href="https://play.google.com/store/apps/details?id=com.money316.money316"><img src="https://vehicle99.com:3006/uploads/playstore.png" alt=""/></a>
                     <a href="https://apps.apple.com/us/app/316-money/id6478689209"><img src="https://vehicle99.com:3006/uploads/appstore.png" alt=""/></a>
                  </td>
                  <td colspan="2" style="width: 100%;display: block;text-align: center; padding: 20px 0px;">
                     <p style="color: #fff; margin: 0px auto;">316 Money. All rights reserved © 2024</p>
                  </td>
                  <td colspan="2" style="width: 100%;display: block;text-align: center; padding: 20px 0px; padding-top:0px;">
                     <p style="color: #fff; margin: 0px auto;">If you would like to change what we get in touch with you about, please visit your <a href="" style="text-decoration: none; color: #163300;font-weight: 500;">Notification Settings</a>. Please note that we can’t receive replies to this email address. if you’d like some support, please visit our <a href="" style="text-decoration: none; color: #163300;font-weight: 500;"> Help Centre. </a></p>
                  </td>
                  <td colspan="2" style="width: 100%;display: block;text-align: center; padding: 20px 0px; padding-top:0px;">
                     <p style="color: #fff; margin: 0px auto;">This email was sent to you by 316 Money. By using our services, you agree to our <a href="" style="text-decoration: none; color: #163300;font-weight: 500;"> customer agreements.</a></p>
                  </td>
                  <td colspan="2" style="width: 100%;display: block;text-align: center; padding: 0px 0px; padding-top:0px;">
                     <p style="color: #fff; margin: 0px auto;">
                        <a href="" style="color: #fff;">Privacy policy </a>  |  
                        <a href="" style="color: #fff;">Terms of service</a>  |  
                        <a href="" style="color: #fff;">Help center</a>
                     </p>
                  </td>
               </tr>
            </tbody>
         </table>
      </div>
   </body>
</html>